/***************************************************              GENERAL RESET STYLES             ***************************************************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
}

*:focus {
	outline: none;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

strong,
b {
	font-weight: 600;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border-style: none;
	width: 100%;
	height: auto;
}

form fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

input,
textarea,
select {
	vertical-align: middle;
	padding: 0;
	box-sizing: border-box;
	resize: none;

	border: 1px solid transparent;
	color: #000c49;
	background-color: #fff;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color: #000c49;
	font-size: 16px;
}

textarea:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
	color: #b9b9b9;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: #fff;
	transition: background-color 5000s ease-in-out 0s;
	box-shadow: inset 0 0 20px 20px transparent;
}

.container {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto 0 auto;
	height: 100%;
	max-width: 1440px;
}

header,
footer,
section {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
}

/* COMMON STYLES */

body.stopScroll {
	overflow: hidden;
}

.main-btn {
	display: flex;
	align-items: center;
	gap: 8px;
	border-radius: 50px;
	background: #1742d9;
	padding: 11px 40px;
	transition: all 0.3s;

	span {
		color: #fff;
		font-weight: 500;
		line-height: 140%;
	}
}

.mobile-btn:hover,
.cards-btn:hover,
.main-btn:hover {
	background: rgba(21, 56, 178, 1);
}

.line__title {
	color: #1d2025;
	font-size: 40px;
	line-height: 130%;
	display: block;
	position: relative;
	width: fit-content;

	span {
		font-weight: 600;
	}

	& ::after {
		content: "";
		width: 100vw;
		height: 1px;
		position: absolute;
		left: calc(100% + 20px);
		top: 50%;
		transform: translate(0, -50%);
		background: #1d2025;
	}
}

/* COMMON STYLES */

/* HEADER STYLES */

.header {
	background: rgba(29, 32, 37, 0.3);
	backdrop-filter: blur(12.5px);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	transition: top 0.3s ease-in-out;
}

.header.hidden {
	top: -100px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	height: 65px;
}

.nav-menu {
	display: flex;
	gap: 80px;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.nav-menu__item {
	color: #fff;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	display: block;
	padding: 22px 0;
	position: relative;
	overflow: hidden;
}

.nav-menu__item::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: -100%;
	width: 100%;
	height: 2px;
	background: #fff;
	transition: all 0.3s;
}

.nav-menu__item:hover::before {
	left: 0;
}

.header-right {
	display: flex;
	align-items: center;
	gap: 40px;
}

.lang {
	display: flex;
	align-items: center;
	gap: 2px;

	p {
		color: #fff;
		line-height: normal;
	}
}

.burger {
	display: none;
	flex-direction: column;
	gap: 4px;
	width: 32px;
	height: 32px;
	padding: 6px 2px;
	cursor: pointer;
}

.burger span {
	display: block;
	border-radius: 5px;
	width: 100%;
	height: 4px;
	background: #fff;
	transition: all 0.3s;
}

.burger.active span:nth-child(2) {
	opacity: 0;
}

.burger.active span:nth-child(1) {
	transform: rotate(45deg) translate(6px, 6px);
}

.burger.active span:nth-child(3) {
	transform: rotate(-45deg) translate(5px, -6px);
}

.mobile-menu {
	background: url("../images/form-bg.png");
	background-color: rgba(255, 255, 255, 1);
	background-size: cover;
	background-blend-mode: multiply;

	display: none;
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100vh;
	z-index: 8;
    transition: left 0.3s;
}

.mobile-menu.active {
    left: 0;
}

.mobile-menu__list {
	margin-top: 145px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.mobile-menu__item {
	color: #000;
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	display: block;
	overflow: hidden;
}

.mobile-menu__item::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: -100%;

	width: 100%;
	height: 2px;
	background: #000;
	transition: left 0.4s;
}

.mobile-menu__item:hover::before {
	left: 0;
}

.mobile-btn {
    padding: 9px 18px;
    transition: all 0.3s;
	background-color: rgba(23, 66, 217, 1);
	border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 64px auto;
    width: fit-content;


	span {
		color: #fff;
		font-weight: 600;
		line-height: 140%;
	}
}

.mobile-lang {
    margin-top: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    p {
        color: #000;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }
}

/* HEADER STYLES */

/* HERO STYLES */

.hero {
	width: 100%;
	height: 100vh;
	background: url("../images/hero-bg-min.png");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: 70% center;

	.container {
		display: flex;
		align-items: center;
	}
}

.hero__inner {
	max-width: 728px;
}

.hero-position {
	border-radius: 38px;
	border: 1px solid #fff;
	display: flex;
	align-items: center;
	padding: 4px 14px;
	gap: 2px;
	width: fit-content;
	margin-bottom: 20px;

	p {
		color: #fff;
		font-size: 24px;
		font-weight: 600;
	}
}

.hero-title {
	color: #fff;
	font-size: 80px;
	font-weight: 600;
	line-height: 100%;
	text-transform: uppercase;
	margin-bottom: 14px;
}

.hero-desc {
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 48px;
}

.hero-btns {
	display: flex;
	gap: 21px;
	align-items: center;

	.main-btn {
		padding: 15px 60px;
		gap: 8px;

		span {
			color: #fff;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: 140%;
		}
	}
}

.hero-btn-price {
	border-radius: 50px;
	border: 1px solid #fff;
	background: rgba(255, 255, 255, 0);
	backdrop-filter: blur(5px);
	width: 271px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
	gap: 8px;
	transition: all 0.3s;

	span {
		color: #fff;
		font-size: 20px;
		font-weight: 600;
		line-height: 140%;
	}
}

.hero-btn-price:hover {
	background: rgba(255, 255, 255, 0.3);
}

/* HERO STYLES */

/* BIG CARD SECTION */

.big-card {
	margin-top: 70px;
}

.big-card__wrap {
	background: #1d2025;
	border-radius: 15px;
	padding: 0px 0px;
	overflow: hidden;
	position: relative;
}

.big-card__title {
	color: #fff;
	font-size: 28px;
	font-weight: 700;
	line-height: 110%;
	text-transform: uppercase;
	padding-left: 20px;
}

.blue-title {
	margin-top: 4px;
	border-radius: 58px;
	background: #1742d9;
	padding: 8px 24px;
}

.big-card__inner {
	display: flex;
	gap: 40px;
	align-items: center;
}

.big-card__left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 60px 0;
	background-image: url("../images/big-card-bg2.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: fit-content;
	padding-left: 24px;

	.main-btn {
		padding: 15px 60px;
		gap: 8px;

		span {
			color: #fff;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: 140%;
		}
	}
}

.big-card__text {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	line-height: 140%;
	margin-top: 24px;
	margin-bottom: 40px;
	padding-left: 20px;
	max-width: 570px;
}

.big-card__right {
    position: relative;
    padding-right: 30px;
}

.big-card__right .wrap {
    display: flex;
    gap: 24px;
}

.big-img__circle {
    position: relative;
    top: -30px;
	width: 111px;
	height: 111px;
    flex-shrink: 0;
	border-radius: 9999px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #1742d9;

    img {
        width: 50px;
        height: 50px;
    }
}
/* BIG CARD SECTION */

/* SERVICES SECTION */

.services {
    padding-top: 180px;
}

.services__inner {
	overflow: hidden;
}

.services__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	margin-top: 60px;
}

.service-card {
	border-radius: 15px;
	background: #f6f6f6;
	overflow: hidden;
}

.blue-card {
	background-color: #1742d9;

	.card-title {
		color: #fff;
	}
}

.black-card {
	background-color: #1d2025;

	.card-title {
		color: #fff;
	}
}

.small-card {
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 7px;
	height: 300px;

	img {
		width: 100%;
		height: 220px;
		object-fit: cover;
	}
}

.card-title {
	color: #1d2025;
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
	text-transform: uppercase;
}

.card-text {
	color: #1d2025;
	font-size: 18px;
	font-weight: 400;
	line-height: 140%;
}

.cards-btn {
	display: flex;
	align-items: center;
	gap: 4px;
	border-radius: 27px;
	background: #1742d9;
	width: fit-content;
	padding: 8px 16px;
	transition: all 0.3s;

	span {
		color: #fff;
		font-size: 18px;
		font-weight: 700;
		line-height: 120%;
		text-transform: uppercase;
	}
}

.service-card1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	padding: 29px 48px 17px 29px;

	grid-column: span 2;

	.card-title {
		max-width: 459px;
		margin-bottom: 14px;
	}

	.card-text {
		font-weight: 500;
		margin-bottom: 32px;
	}

	.service-card__img {
		width: 267px;
		height: 254px;
		flex-shrink: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.service-card5 {
	display: flex;
	flex-direction: column;
	grid-row: span 2;

	padding: 40px 32px 23px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	position: relative;

	.card-title {
		margin-bottom: 10px;
	}

	.card-text {
		margin-bottom: 28px;
	}

	.service-card-m-img {
		width: 344px;
		height: 344px;
	}

	& > *:not(.bg-circle) {
		position: relative;
		z-index: 2;
	}
}

.bg-circle {
	position: absolute;
	bottom: -25%;
	left: 30%;
	width: 437px;
	height: 437px;
	border-radius: 437px;
	z-index: 1;
	background-color: #1742d9;
}

.service-card8 {
	grid-column: span 3;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 29px 23px 9px 72px;

	.card-title {
		margin-bottom: 10px;
	}

	.card-text {
		margin-bottom: 28px;
	}

	.service-card__img {
		width: 562px;
		height: 262px;

		flex-shrink: 0;
	}
}

.service-card10 {
	grid-column: span 2;

	display: flex;
	align-items: center;
	gap: 34px;
	justify-content: space-between;
	padding: 16px 48px 16px 32px;

	.card-title {
		margin-bottom: 10px;
	}

	.card-text {
		margin-bottom: 28px;
		font-weight: 500;
	}

	.service-card__img {
		width: 267px;
		height: 267px;

		flex-shrink: 0;
	}
}

/* SERVICES SECTION */

/* WELCOME SECTION */

.welcome {
	padding-top: 180px;
	overflow: visible;

	.container {
		overflow: visible;
	}
}

.welcome-wrap {
	background-color: #1d2025;
}

.welcome__inner {
	display: flex;
	justify-content: flex-end;
	position: relative;
    gap: 20px;
}

.welcome__img {
	position: relative;
    z-index: 2;
	width: 370px;
	height: 331px;
    flex-shrink: 0;
	bottom: -50px;
	left: 0;
}

.welcome__block {
	margin: 67px 0;
	max-width: 974px;
}

.welcome-text {
	color: #fff;
	font-size: 28px;
	font-weight: 400;
	line-height: 120%;

	span {
		font-weight: 700;
	}
}

.welcome-titles {
	margin-top: 32px;
	display: flex;
	gap: 20px;

	span {
		display: block;
		padding: 6px 24px;
		border-radius: 90px;
		border: 1px solid #fff;
		color: #fff;
		font-weight: 600;
		line-height: 130%;
	}
}

/* WELCOME SECTION */

/* MAIN CAR SECTION */

.main-car {
	overflow: visible;

	.container {
		overflow: visible;
	}
}

.middle-car {
	height: 100vh;
	position: sticky;
	top: 0;
	overflow: hidden;
}

.stripe {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;

	span {
		display: block;
		width: 24px;
		height: 79px;
		background: #1d2025;
	}
}

.car-img {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, 0);
	width: 220px;
}

.car-cards__wrap {
	margin-top: 50vh;
	display: flex;
	justify-content: space-between;
}

.car-cards__left,
.car-cards__right {
	display: flex;
	flex-direction: column;
	gap: 90px;
}

.car-cards__left > :nth-child(even) {
	visibility: hidden;
}

.car-cards__right > :nth-child(odd) {
	visibility: hidden;
}

.car-card {
	height: 408px;
	max-width: 453px;
	border-radius: 15px;
	border: 1px solid rgba(29, 32, 37, 0.14);
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(20px);

	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.car-card__top > div {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 24px;
}

.car-card__num {
	border-radius: 4px;
	border: 1px solid #1d2025;
	height: 35px;
	padding: 6px 8px;
	color: #1d2025;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

.car-card__icon {
	width: 35px;
	height: 35px;
	border-radius: 4px;
	background: #1742d9;
	padding: 6px 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.car-card__title {
	color: #1d2025;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
}

.car-card__text {
	color: #1d2025;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

/* MAIN CAR SECTION */

/* FREE AUTO SECTION */

.free-auto {
	margin-top: 180px;
}

.free-auto__inner {
	border-radius: 16px;
	background: #1742d9;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);

	display: flex;
	align-items: center;
	padding: 23px 0 23px 40px;
}

.free-auto__left > svg {
	margin-bottom: 40px;
}

.free-auto__title {
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	line-height: 110%;
	text-transform: uppercase;
	margin-bottom: 16px;
	white-space: nowrap;
}

.free-auto__text {
	color: #fff;
	font-size: 18px;
	line-height: 110%;
	margin-bottom: 40px;
	max-width: 645px;

	span {
		font-weight: 700;
	}
}

.free-auto__btn {
	border-radius: 50px;
	background: #fff;
	padding: 16px 60px;
	display: flex;
	align-items: center;
	gap: 8px;
	width: fit-content;
	transition: all 0.3s;

	span {
		color: #1742d9;
		font-size: 20px;
		font-weight: 600;
		line-height: 140%;
	}
}

.free-auto__btn:hover {
	background: rgba(225, 225, 225, 1);
}

.free-auto__left {
	position: relative;
	z-index: 1;
}

.free-auto__img {
	width: 511px;
	height: 306px;
	

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
/* FREE AUTO SECTION */

/* PRICES SECTION */

.prices {
	padding-top: 180px;
	padding-bottom: 180px;
}

.prices__inner {
	overflow: hidden;
}

.prices__top {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	margin-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(29, 32, 37, 0.4);
}

.prices__block-title {
	color: #1d2025;
	font-size: 24px;
	font-weight: 600;
	line-height: 150%;
}

.prices__list {
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.prices__list-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 5px 16px;
}

.item-name {
	color: #1d2025;
	font-size: 18px;
	font-weight: 500;
	line-height: 150%;
}

.item-price {
	color: #1d2025;
	font-size: 20px;
	font-weight: 500;
	line-height: 150%; /* 30px */
}

.prices__list > :nth-child(odd) {
	border-radius: 42px;
	background: #f6f6f6;
}

.prices-tires__block {
	margin-top: 40px;
}

.prices-tires__time {
	display: flex;
	gap: 80px;
	align-items: center;
	justify-content: flex-end;
	padding: 0 16px;

	span {
		width: 53px;
		text-align: center;
		color: #1d2025;
		font-size: 20px;
		font-weight: 500;
		line-height: 150%;
	}
}

.item-price-block {
	display: flex;
	gap: 80px;
	align-items: center;

	span {
		width: 53px;
		text-align: center;
		color: #1d2025;
		font-size: 20px;
		font-weight: 500;
		line-height: 150%;
	}
}

.prices-tires__block .prices__list {
	margin-top: 14px;
}
/* PRICES SECTION */

/* FORM SECTION */

.form-section__inner {
	display: grid;
	grid-template-columns: 808px 1fr;
	gap: 20px;
}

.form-left {
	border-radius: 16px;
	background: #f6f6f6;
	padding-block: 38px;
	padding-left: 40px;
	padding-right: 20px;
}

.form-title {
	color: #1d2025;
	font-size: 40px;
	font-weight: 700;
	line-height: 110%;
}

.form-text {
	margin-top: 10px;
	margin-bottom: 20px;
	color: #000;
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	max-width: 579px;

	span {
		font-weight: 600;
	}
}

.policy-text {
	color: #888;
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 24px;
}

.form-links {
	display: flex;
	align-items: center;
	gap: 16px;
}

.form-btn {
	border-radius: 50px;
	background-color: #1742d9;
	padding: 16px 60px;
	display: flex;
	gap: 8px;
	align-items: center;
	border: none;
	cursor: pointer;
	transition: all 0.3s;

	span {
		color: #fff;
		font-size: 20px;
		font-weight: 600;
		line-height: 140%; /* 28px */
	}
}

.form-btn:hover {
	background-color: rgba(21, 56, 178, 1);
}

.form-links > span {
	color: #949aa5;
	font-size: 18px;
	font-weight: 500;
	line-height: 150%; /* 27px */
}

.links {
	display: flex;
	gap: 11px;
}

.links a {
	transition: opacity 0.3s;
}

.links a:hover {
	opacity: 0.8;
}

.form-right {
	border-radius: 16px;
	background: #1742d9;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 52px;
	padding: 35px 22px 22px;

	h3 {
		color: #fff;
		font-size: 32px;
		font-weight: 700;
		line-height: 120%;
		text-transform: uppercase;
	}

	img {
		align-self: center;
	}

	p {
		color: #fff;
		font-size: 20px;
		font-weight: 500;
		line-height: 140%;
	}
}

.form-inputs {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 571px;
	margin-bottom: 15px;
}

.grid-inputs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	row-gap: 10px;
}

.input-field {
	padding: 10px;

	color: #1d2025;
	font-weight: 400;
	line-height: 150%;
}

.input-field::placeholder {
	color: #1d2025;
	font-weight: 400;
	line-height: 150%;
}

/* FORM SECTION */

/* GALLERY SECTION */

.gallery {
	margin-top: 180px;
	margin-bottom: 180px;
}

.gallery__inner {
	overflow: hidden;
}

.mySwiper {
	margin-top: 40px;
}

.swiper-wrapper > :nth-child(1) {
    margin-left: 16px;
}

.swiper-slide {
    width: 372px !important;
    height: 302px !important;
}

/* GALLERY SECTION */

/* FOOTER SECTION */

.footer {
	background-color: #1d2025;
}

.footer__inner {
	padding: 48px 0 24px;
}

.footer-top {
	display: flex;
	justify-content: space-between;
}

.footer-list {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.footer-list1 {
	.address {
		max-width: 193px;
	}
}

.footer-list2 {
	gap: 20px;
}

.footer-title {
	color: #878787;
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
}

.footer-text {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	transition: all 0.3s;
}

.footer__info-block {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.footer__map {
	width: 452px;
	height: 253px;
	border-radius: 16px;
	overflow: hidden;

	img {
		height: 100%;
		object-fit: cover;
	}
}

.footer-links-sm {
	display: flex;
	align-items: center;
	gap: 8px;
}

.footer-bottom {
	margin-top: 56px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__payments {
	display: flex;
	gap: 21px;
}

.footer__copy {
	color: #fff;
	font-size: 18px;
	line-height: 140%;
}

.footer__madeby {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
	display: flex;
	align-items: center;
	gap: 5px;
	transition: all 0.3s;
}

.footer-links-sm svg:hover,
.footer__madeby:hover,
a.footer-text:hover {
	opacity: 0.7;
}

/* FOOTER SECTION */




/* FORM PAGE */

body, html {
    height: 100%;
}

.form-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-form {
    flex-grow: 1;
    background: url("../images/form-bg.png");
	background-color: rgba(255, 255, 255, 1);
	background-size: cover;
	background-blend-mode: multiply;
}