

@media screen and (width <= 1200px) {
    .nav-menu {
        gap: 40px;
    }

    .header-right {
        gap: 20px;
    }
}


@media screen and (width <= 1024px) {
    .nav-menu {
       display: none;
    }

    .header-right {
        display: none;
    }

    .burger {
        display: flex;
    }

    .mobile-menu {
        display: block;
    }
}

